<article class="post">

  <h1>
    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
  </h1>

  <div class="thumbnail-wrapper">
    {% if post.has_thumb %}
    <div class="thumbnail"><img src="{{ site.baseurl }}{{ post.image }}" alt="thumbnail"></div>
    {% endif %}
    <div class="entry">{{ post.excerpt }}</div>
  </div>
  <div class="post-meta">
    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>

    <div>
      📅
      <span class="date">
        {{ post.date | date: "%B %e, %Y" }}
      </span>
      <span class="comments-counter">
        {% assign comments_num = site.data.comments[post.slug] | size %}
        <a href="{{ site.baseurl }}{{ post.url }}#comments">💬 {{comments_num}}</a>
      </span>
    </div>

    {% assign sorted_tag = post.tags | sort %}
    <ul class="tags">
      {% for tag in sorted_tag %}
      <li><a href="{{ site.baseurl }}/tags/#{{ tag }}-ref" class="tag">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  </div>

</article>