---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div>
    📅
    <span class="date">
      {{ page.date | date: "%B %e, %Y" }}
    </span>
    <span class="comments-counter">
      {% assign comments_num = site.data.comments[page.slug] | size %}
      <a href="{{ site.baseurl }}{{ page.url }}#comments">💬 {{comments_num}}</a>
    </span>
  </div>

  <div class="entry">
    {{ content }}
  </div>

  {% assign sorted_tag = page.tags | sort %}
  <ul class="tags">
    {% for tag in sorted_tag %}
    <li><a href="{{ site.baseurl }}/tags/#{{ tag }}-ref" class="tag">{{ tag }}</a></li>
    {% endfor %}
  </ul>

  {% include likeco.html %}
  {% include disqus.html %}
  {% include staticman/comment.html %}
</article>